.statusBar {
  background-color: #f9a653;
  height: 5vh;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 980px) {
  .statusBar {
    background-color: #f9a653;
    height: 5h;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
  }
}
